/*! REGOLE GENERALI */

/** RESET PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/** LISTE */
ul {
    list-style-type: none;
}

li {
    display: inline;
}

/** LINK */
a {
    text-decoration: none;
    color: white;
}

/** BOTTONI */
button {
    border-color: transparent;
    border-radius: 20px;
}

/*! UTILS */

/** PADDING BOTTONI */
.button-small {
    padding: 6px 10px;
}

.button-big {
    padding: 10px 20px;
}

/** DIMENSIONE TESTI*/
.text-medium {
    font-size: 16px;
}
.text-big {
    font-size: 42px;
}

/** COLORI*/

/*Colori background*/
.bg-color-dark {
background-color: #23272A;
}

/* Colori testo */
.color-black {
    color: black;
}

.color-white {
    color: white;
}

/*! REGOLE GENERALI FLEXBOX  */

/** Flex-container con Main-Axis orizzontale */
.flex-container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.flex-container-column>*:not(#main-header):not(#footer-separatore):not(.footer-section-logo-bottone) {
    padding-top: 30px;
    padding-bottom: 30px;
}

/** Flex-container con Main-Axis verticale */
.flex-container-column {
    display: flex;
    flex-direction: column;
}

/*! INTESTAZIONE PAGINA */
header {
    height: 523px;
    background-color: rgb(37, 94, 233);
}

/** SEZIONE MAIN-HEADER */
#main-header {
    flex-basis: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Barra di navigazione Header */
#flex-nav {
    height: 100%;                           /* altezza 100% rispetto al padre -> main-header */
    line-height: 100%;
}

/* Logo-Link-Login */
.item-nav-header
{
    flex-grow: 1;                           /* Espansione dei flex-items: Logo-Link-Login*/
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Logo nav */
.logo {
    padding-left: 5px;
}

.item-nav-header.link {
    justify-content: center;
}

/* Login nav */
.item-nav-header.login {
    justify-content: flex-end;
    padding-right: 5px;
}

/** SEZIONE HERO-HEADER */
#hero-header {
    flex-basis: 90%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-hero {
    flex-basis: 80%;
    text-align: center;
    margin: 160px 275px 0;
}

.item-hero>* {
    margin-bottom: 25px;
}

/*! CONTENUTO PRINCIPALE */

/** Colori main-section */
.bg-color-white {
    background-color: white;
}

.bg-color-grey {
    background-color: rgb(212, 210, 210);
}

/** Figli di main-section server discord, canale vocale e community */
.item-main-section-left {
    flex-basis: 60%;
}

.item-main-section-right {
    flex-basis: 40%;
}

/** Figlo di main-section tecnologia */
.item-main-section-full {
    flex-basis: 100%;

    /* Debug */
    background-color: green;
}

/*! PIE' DI PAGINA */

/** FOOTER SEZIONE LINK E SOCIAL */
.footer-section-link-social {
    flex-basis: 90%;
}

/* Footer sezione social */
.footer-section-social {
    flex-basis: 30%;

    /* Debug */
    background-color: rgb(200, 90, 108); 
} 

/* Footer sezione link */
.footer-section-link {
    display: flex;
    flex-basis: 70%;

    /* Debug */
    background-color: rgb(37, 125, 128);
}

/* Figli di Footer sezione link */
.footer-section-link > * {
    flex-basis: calc(100% / 4);
}

/** FOOTER SEPARATORE */
#footer-separatore {
    border: 0.5px solid white;
    width: 100%;
}

/** FOOTER SEZIONE LOGO E BOTTONE */
.footer-section-logo-bottone {
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 140px 0;

    /* Debug */
    background-color: rgb(35, 192, 116);
}

.bottone-footer {
    padding: 2px;
}

/*! DEBUG */

/** DEBUG BORDI LAYOUT */

/* Bordi sezioni */
.flex-container-row > *, .footer-section-logo-bottone > * {
    border: 1px dotted black;
    color: black;
}

.footer-section-link > * {
    border: 1px dotted white;
}

/** DEBUG ALTEZZE */

/* Altezza primi 3 figli di main-section */
main > section:not(:nth-child(4)) {
    height: 400px;
}

/* Altezza 4 figlo di main-section */
main>section:nth-child(4) {
    height: 500px;
}

footer {
    height: 450px;
}

.flex-container-row > * {
    height: 100%;
}

/** DEBUG COLORI */

.bg-color-pink {
    background-color: pink;
}

.bg-color-lightblue {
    background-color: lightblue;
}